TMM4230/My solution to mandatory exercise 1/Client/Service References/Service1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPerson">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="searchAge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchAgeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchAgeResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllPersons">
        <s:complexType />
      </s:element>
      <s:element name="getAllPersonsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllPersonsResult" type="tns:ArrayOfPerson" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchSoapIn">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="searchSoapOut">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="searchAgeSoapIn">
    <wsdl:part name="parameters" element="tns:searchAge" />
  </wsdl:message>
  <wsdl:message name="searchAgeSoapOut">
    <wsdl:part name="parameters" element="tns:searchAgeResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPersonsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllPersons" />
  </wsdl:message>
  <wsdl:message name="getAllPersonsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllPersonsResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="search">
      <wsdl:input message="tns:searchSoapIn" />
      <wsdl:output message="tns:searchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchAge">
      <wsdl:input message="tns:searchAgeSoapIn" />
      <wsdl:output message="tns:searchAgeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllPersons">
      <wsdl:input message="tns:getAllPersonsSoapIn" />
      <wsdl:output message="tns:getAllPersonsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="search">
      <soap:operation soapAction="http://tempuri.org/search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchAge">
      <soap:operation soapAction="http://tempuri.org/searchAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPersons">
      <soap:operation soapAction="http://tempuri.org/getAllPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="search">
      <soap12:operation soapAction="http://tempuri.org/search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchAge">
      <soap12:operation soapAction="http://tempuri.org/searchAge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPersons">
      <soap12:operation soapAction="http://tempuri.org/getAllPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:59705/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:59705/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>